@import "tailwindcss";

/* Apply Inter font globally */
body {
  font-family: "Inter", sans-serif;
}

/* Custom animation for mobile filter drawer */
@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.25s ease-out;
}
